$font: 'Raleway', sans-serif;
$light: 300;
$regular: 400;
$bold: 800;
$mainColor: #FF4500;
$subColor: #f4f4f4;
$darkGrey: #232323;
$black:#000;
$white: #fff;

.wrapper {
	max-width: 900px;
	margin: 0 auto;
}

html{
    font-size: 62.5%;
}

body {
	// background-color: papayawhip;
	font-family: $font;
	font-weight: $regular;
}

p {
	margin: 0;
}

@import 'setup';
@import 'partials/headerContact';
@import 'partials/headerNav';
@import 'partials/headerImage';
@import 'partials/courses';
@import 'partials/gallery';
@import 'partials/sectionTitle';
@import 'partials/news';
@import 'partials/client';
@import 'partials/pricing';
@import 'partials/footer';