$font: 'Raleway', sans-serif;
$mainColor: #86bc42;
$subColor: #f4f6fa;

.wrapper {
	max-width: 900px;
	margin: 0 auto;
}

html{
    font-size: 62.5%;
    font-family: $font;
    font-weight: 400;
}

body {
	background-color: papayawhip;
}

p {
	margin: 0;
}

@import 'setup';
@import 'partials/contactBar';
@import 'partials/navBar';
@import 'partials/header';
@import 'partials/courses';
@import 'partials/gallery';
@import 'partials/sectionTitle';
@import 'partials/news';