.contact-bar {
    background-color: black;
}

.contact-container {
    color: white;
    justify-content: space-between;
}

.contact-container,
.contact-text,
.services {
    display: flex;
    flex-direction: row;
}

