
.courses-container {
    margin-top: 50px;
    margin-bottom: 100px;
}

/* courses navigation */
.courses-nav {
    margin-top: 20px;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        text-decoration: none;
    }
    li {
        padding: 20px;
        a {
            text-decoration: none;
            &:visited {
                color: black;
            }
            &:hover,
            &:focus {
                color: $mainColor;
                cursor: pointer;
            }
        }
    }
}

/* individual courses */
.courses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.course {
    margin-right: 20px;
    margin-top: 20px;
    width: calc(25% - 20px);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:nth-child(4),
    &:nth-child(8) {
        margin-right: 0px;
    }
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    img {
        width: 100%;
        border-radius: 2px;
        display: block;
    }
}

figcaption {
    padding: 10px;
    font-weight: $bold;
    line-height: 1.4rem;
}

.profile-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

/* placeholder profile photo */
.profile-photo {
    background-color: lightgrey;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 0px 10px;
}

.course-name a  {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $mainColor;
    &:visited {
        color: black;
    }
    &:hover,
    &:focus {
        cursor: pointer;
    }
    p {
        margin-top: 2.5px;
    }
}

.course-stats {
    border-top: 0.5px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.people {
    padding-right: 10px;
    &::before {
        content: "\f007";
        font-family: "FontAwesome";
        padding-right: 5px;
    }
}
    
.chat::before {
    content: "\f075";
    font-family: "FontAwesome";
    padding-right: 5px;
}

.free {
    padding: 10px;
    font-style: italic;
}