.courses-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    li {
        padding: 20px;
    }
}

.courses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.course{
    margin: 5px;
    width: calc(25% - 10px);
    // border: 1px solid grey;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        img {
            width: 100%;
        }
    
}

.course-stats {
    border-top: 1px solid grey;
}