footer {
    background-color: $darkGrey;
}

.footer-container {
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    @media (max-width: 950px) {
        padding: 20px 50px;
    }
    @media (max-width: 460px) {
        flex-direction: column;
        padding: 20px 20px;
    }
}

.footer-block {
    width: 25%;
    color: $white;
    @media (max-width: 760px) {
        width: 33.33%;
    }
    @media (max-width: 660px) {
        width: 50%;
    }
    @media (max-width: 460px) {
        width: 100%;
    }
    h4 {
        text-transform: uppercase;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: $white;
    }
}


// ABOUT footer block starts
.footer-about {
    line-height: 1.6rem;
    span {
        color: $mainColor;
        font-weight: $bold;
    }
    @media (max-width: 660px) {
        display: none;
    }
}

.programs li {
    &::before {
        content: "\f00c";
        font-family: FontAwesome;
        color: $mainColor;
        padding-right: 5px;
    }
} 

// COURSES footer block starts
.footer-courses {
    padding-left: 50px;
    @media (max-width: 760px) {
        display: none;
    }
}

.footer-course-list li {
    line-height: 2rem;
    &:before {
        content: "\f105";
        font-family: FontAwesome;
        font-size: 1.2rem;
        color: $mainColor;
        margin-right: -10px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;   
    }

    &:hover {
        &:before {
            visibility: visible;
            opacity: 1;
            margin-right: 10px;
        }
        a{
            color: $mainColor;
        }    
    }   
}

// CONTACT footer block starts
.footer-contact {
    @media (max-width: 760px) {
        padding-left: 50px;
    }
    @media (max-width: 660px) {
        padding-left: 0px;
    }
}

.footer-address,
.footer-phone,
.footer-email {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    line-height: 1.8rem;
    i {
        padding-right: 10px;
        color: $mainColor;
    }
}

.fa-map-marker-alt {
    padding-top: 4px;
}

// NEWSLETTER footer block starts
.footer-news {
    p {
        line-height: 1.6rem; 
    }
    .subscribe-form {
        padding: 10px 0px;
    }
}

.emailSubscribe {
    width: 75%;
    border-radius: 2px;
    border: none;
    padding: 10px
}

.subscribeButton {
    background-color: $mainColor;
    border: none;
    color: $white;
    width: 15%;
    height: 33px;
    border-radius: 2px; 
}

.footer-social {
    margin-top: 10px;
    margin-left: -3px;
    a {
        color: $mainColor;
        font-size: 2rem;
    }
}

// copyright bar starts
.copyright-container {
    background-color: $black;
    color: $white;
    font-weight: $light;
}

.copyright-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.05rem;
    padding: 10px 0px;
    @media (max-width: 950px) {
        padding: 10px 50px;
    }
    @media (max-width: 460px) {
        padding: 10px 20px;
    }
    ul {
        text-transform: uppercase;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    a {
        padding: 0px 20px 0px 0px;
        text-decoration: none;
        color: $white;
        &:hover,
        &:focus {
            color: $mainColor;
        }
    }
}

.footer-nav {
    @media (max-width: 480px) {
        display: none;
    }
}

.copyright-txt span {
    color: $mainColor;
}

// copyright bar ends