.gallery {
    padding: 50px 0px;
    background-color: $subColor;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-top: 50px;
    @media (max-width: 950px) {
        padding: 0px 50px;
    }
    @media (max-width: 460px) {
        padding: 0px 20px;
    }
}

.gallery-image {
    width: calc(33.33% - 20px);
    margin: 10px;
    img {
        width: 100%;
        border-radius: 2px;
    }
    @media (max-width: 860px) {
        width: calc(50% - 20px);
    }
    @media (max-width: 460px) {
        width: calc(100% - 20px);
    }
}

.overlay {
    display: none;
}