.nav-bar {
    position: relative;
}

.mobile-nav {
    @media (min-width: 760px) {
        display: none;
    }
}

// styling of dropdown menu
.mobile-header-nav {
    background-color: $mainColor;
    display: none; // hide until menu is clicked
    list-style: none; 
    margin: 0;
    padding: 0; 
    position: absolute;
    top: 65px;
    width: 100%;
    li a {
        color: $white;
        font-weight: $bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        display: block;
        padding: 15px 0;
        text-align: center;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: lighten($darkGrey, 5%);
        }
    }
}

// styling of hamburger menu
.hamburger-menu {
    display: inline-block;
    height: 65px;
    padding: 20px 20px;
    transition: all 0.3s ease-in-out;
    &:hover {
        cursor: pointer;
    }
    .menu-item {
        background: black;
        display: block;
        height: 3px;
        margin: 0 0 10px;
        transition: all 0.3s ease-in-out;
        width: 40px;
    }
    &.open {
        .menu-item {
            margin: 0 0 5px;
            &:first-child {
                transform: rotate(45deg);
                transform-origin: 10px;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                transform-origin: 8px;
            }
        }
    }
    @media (min-width: 760px) {
        display: none;
    }
}

