header {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url('./../assets/hero-image.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-container {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    text-align: center;
    p {
        width: 50%;
    }
}

h1 {
    font-size: 5rem;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: $darkGrey;
}