.section-title {
    text-align: center;
    text-transform: uppercase;
    h2 {
        font-size: 3.6rem;
        font-weight: 700;
    }
    h4 {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    // background-color: red;
}

.magazine-container {
    position: relative;
}

.magazine-icon::before,
.magazine-icon::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #86bc42;
    width: 5px;
    width: 25px;
    z-index: 999;
    top: 15px;
    left: 400px;
}

.magazine-icon::after {
    left: 475px;
}
