/* general styling page titles */
.section-title {
    text-align: center;
    text-transform: uppercase;
    h2 {
        font-size: 3.6rem;
        font-weight: 700;
        margin: 15px 0px;
    }
    h4 {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
}

.cubes-icon {
    margin: 0 auto;
    width: 50px;
    position: relative;
    img {
        width: 40px;
    }
    &::before {
        content: "";
        height: 3px;
        width: 30px;
        background: $mainColor;
        display: block;
        position: absolute;
        top: 16px;
        left: -35px;
    }
    &::after {
        content: "";
        height: 3px;
        width: 30px;
        background: $mainColor;
        display: block;
        position: absolute;
        top: 16px;
        left: 55px;
    }
}

