.wrapper {
  max-width: 900px;
  margin: 0 auto; }

html {
  font-size: 62.5%; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

p {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.contact-container {
  padding: 20px 0px;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 950px) {
    .contact-container {
      padding: 20px 20px; } }

.contact-container,
.contact-text,
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.contact-text,
.services {
  margin: auto 0;
  letter-spacing: 0.05rem; }
  @media (max-width: 660px) {
    .contact-text,
    .services {
      visibility: hidden; } }

.contact-bar {
  background-color: #232323; }
  .contact-bar h3 {
    text-transform: uppercase;
    color: #FF4500;
    font-size: 2.5rem;
    margin: 0;
    text-shadow: 0 0 3px #FF4500; }

@media (max-width: 660px) {
  .contact-text {
    display: none; } }

.contact-text i {
  padding-right: 10px;
  color: #FF4500; }
  .contact-text i:last-of-type {
    padding-left: 20px; }

.contact-logo {
  position: relative; }
  .contact-logo h3 {
    position: absolute;
    top: 25px;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%); }

.services a {
  padding-left: 20px; }
  .services a:first-of-type {
    padding-right: 20px; }
  .services a:last-child {
    border-left: 0.5px solid white;
    height: 10px; }
  .services a:hover, .services a:focus {
    color: #FF4500;
    cursor: pointer; }

.nav-bar {
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 20px 0px; }
  @media (max-width: 760px) {
    .nav-bar {
      padding: 0; } }

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  list-style: none;
  text-transform: uppercase; }
  @media (max-width: 950px) {
    .nav-container {
      width: 80%; } }
  .nav-container li {
    margin: auto 0; }
    @media (max-width: 760px) {
      .nav-container li {
        display: none; } }
    .nav-container li a {
      text-decoration: none;
      font-weight: 800;
      font-size: 1.2rem; }
      .nav-container li a:visited {
        color: black; }
      .nav-container li a:hover, .nav-container li a:focus {
        color: #FF4500;
        border-bottom: 2px solid #FF4500;
        cursor: pointer; }

/* shopping cart */
.cart-container {
  color: #FF4500;
  border: 2px solid #FF4500;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: -50px;
  padding-top: 7px; }
  .cart-container:hover {
    color: #fff;
    background-color: #FF4500;
    cursor: pointer; }

/* expanding search bar */
.search-container *:focus {
  background: #f4f4f4;
  border: 1px solid #f4f4f4;
  color: #232323;
  outline: 0; }

.search-container {
  display: table;
  position: relative; }

.search-icon-btn {
  background-color: #FF4500;
  border: 2px solid #FF4500;
  display: table-cell;
  height: 30px;
  width: 30px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 2; }
  .search-icon-btn i {
    color: #fff; }

.search-input {
  position: absolute;
  right: 0;
  z-index: 1;
  visibility: hidden; }

.search-input input.search-bar {
  border: 1px solid #f4f4f4;
  height: 29px;
  padding: 0px;
  width: 29px; }

.search-input input.search-bar:focus {
  padding-right: 60px;
  padding-left: 10px;
  width: 50px;
  border: none; }

/* transition effect */
.search-input input.search-bar,
.search-icon-btn {
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

/* hover on search bar container */
.search-container:hover > .search-input input.search-bar {
  padding-right: 60px;
  padding-left: 10px;
  width: 50px;
  visibility: visible; }

.nav-bar {
  position: relative; }

@media (min-width: 760px) {
  .mobile-nav {
    display: none; } }

.mobile-header-nav {
  background-color: #FF4500;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 65px;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .mobile-header-nav li a {
    color: #fff;
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .mobile-header-nav li a:hover {
      background-color: #303030; }

.hamburger-menu {
  display: inline-block;
  height: 65px;
  padding: 20px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .hamburger-menu:hover {
    cursor: pointer; }
  .hamburger-menu .menu-item {
    background: black;
    display: block;
    height: 3px;
    margin: 0 0 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 40px; }
  .hamburger-menu.open .menu-item {
    margin: 0 0 5px; }
    .hamburger-menu.open .menu-item:first-child {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transform-origin: 10px;
              transform-origin: 10px; }
    .hamburger-menu.open .menu-item:nth-child(2) {
      opacity: 0; }
    .hamburger-menu.open .menu-item:nth-child(3) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      -webkit-transform-origin: 8px;
              transform-origin: 8px; }
  @media (min-width: 760px) {
    .hamburger-menu {
      display: none; } }

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), url("./../assets/hero-image.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("./../assets/hero-image.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
  text-align: center; }
  @media (max-width: 660px) {
    .header-container {
      margin: 75px auto; } }
  @media (max-width: 460px) {
    .header-container {
      margin: 30px auto; } }
  .header-container h1 {
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #232323;
    line-height: 6.5rem; }
    @media (max-width: 460px) {
      .header-container h1 {
        font-size: 3rem;
        line-height: 3.5rem; } }
  .header-container p {
    width: 90%;
    font-size: 1.4rem;
    line-height: 2.4rem; }
    @media (max-width: 950px) {
      .header-container p {
        width: 75%; } }

/* general styling page buttons */
/* styling page buttons END */
/* header button */
.header-button {
  margin-top: 50px;
  border: 2px solid #FF4500;
  background-color: #FF4500;
  color: #fff;
  font-weight: 800;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 13px 25px;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px; }
  .header-button:hover {
    border: 2px solid #FF4500;
    background-color: #fff;
    color: #FF4500;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .header-button:focus {
    border: 2px solid #FF4500;
    background-color: #fff;
    color: #FF4500;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .header-button:active {
    position: relative;
    bottom: -2px;
    right: -2px; }
  @media (max-width: 460px) {
    .header-button {
      margin-top: 25px; } }

/* general styling page titles */
.section-title {
  text-align: center;
  text-transform: uppercase; }
  .section-title h2 {
    font-size: 3.6rem;
    font-weight: 700;
    margin: 15px 0px; }
  .section-title h4 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0; }

.cubes-icon {
  margin: 0 auto;
  width: 50px;
  position: relative; }
  .cubes-icon img {
    width: 40px; }
  .cubes-icon::before {
    content: "";
    height: 3px;
    width: 30px;
    background: #FF4500;
    display: block;
    position: absolute;
    top: 16px;
    left: -35px; }
  .cubes-icon::after {
    content: "";
    height: 3px;
    width: 30px;
    background: #FF4500;
    display: block;
    position: absolute;
    top: 16px;
    left: 55px; }

.courses-container {
  margin-top: 50px;
  margin-bottom: 100px; }
  @media (max-width: 960px) {
    .courses-container {
      padding: 0px 50px; } }
  @media (max-width: 460px) {
    .courses-container {
      padding: 0px 20px; } }

/* courses navigation */
.courses-nav {
  margin-top: 20px; }
  .courses-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    text-decoration: none;
    padding: 0; }
    @media (max-width: 540px) {
      .courses-nav ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .courses-nav li {
    padding: 20px; }
    @media (max-width: 540px) {
      .courses-nav li {
        padding: 5px 10px; } }
    .courses-nav li a {
      text-decoration: none; }
      .courses-nav li a:visited {
        color: black; }
      .courses-nav li a:hover, .courses-nav li a:focus {
        color: #FF4500;
        cursor: pointer; }

/* individual courses */
.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.course {
  margin-right: 20px;
  margin-top: 20px;
  width: calc(25% - 20px);
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .course:nth-child(4), .course:nth-child(8) {
    margin-right: 0px; }
  .course:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .course img {
    width: 100%;
    border-radius: 2px;
    display: block; }
  @media (max-width: 860px) {
    .course {
      width: calc(33.33% - 20px); }
      .course:nth-child(4), .course:nth-child(8) {
        margin-right: 20px; }
      .course:nth-child(3), .course:nth-child(6) {
        margin-right: 0px; } }
  @media (max-width: 660px) {
    .course {
      width: calc(50% - 20px); }
      .course:nth-child(1), .course:nth-child(3), .course:nth-child(5), .course:nth-child(7) {
        margin-right: 20px; }
      .course:nth-child(2), .course:nth-child(4), .course:nth-child(6), .course:nth-child(8) {
        margin-right: 0px; } }
  @media (max-width: 460px) {
    .course {
      width: 100%;
      margin-top: 50px; }
      .course:nth-child(1), .course:nth-child(3), .course:nth-child(5), .course:nth-child(7) {
        margin-right: 0px; }
      .course:nth-child(1) {
        margin-top: 10px; } }

figcaption {
  padding: 10px;
  font-weight: 800;
  line-height: 1.4rem; }

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px; }

/* placeholder profile photo */
.profile-photo {
  background-color: lightgrey;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0px 10px; }

.course-name a {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #FF4500; }
  .course-name a:visited {
    color: black; }
  .course-name a:hover, .course-name a:focus {
    cursor: pointer; }
  .course-name a p {
    margin-top: 2.5px; }

.course-stats {
  border-top: 0.5px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px; }

.people {
  padding-right: 10px; }
  .people::before {
    content: "\f007";
    font-family: "FontAwesome";
    padding-right: 5px; }

.chat::before {
  content: "\f075";
  font-family: "FontAwesome";
  padding-right: 5px; }

.free {
  padding: 10px;
  font-style: italic; }

.gallery {
  padding: 50px 0px;
  background-color: #f4f4f4; }

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 50px; }
  @media (max-width: 950px) {
    .gallery-container {
      padding: 0px 50px; } }
  @media (max-width: 460px) {
    .gallery-container {
      padding: 0px 20px; } }

.gallery-image {
  width: calc(33.33% - 20px);
  margin: 10px; }
  .gallery-image img {
    width: 100%;
    border-radius: 2px; }
  @media (max-width: 860px) {
    .gallery-image {
      width: calc(50% - 20px); } }
  @media (max-width: 460px) {
    .gallery-image {
      width: calc(100% - 20px); } }

.overlay {
  display: none; }

.news-title {
  padding: 50px 0px; }

.news {
  padding: 25px 0px; }
  @media (max-width: 950px) {
    .news {
      margin: 0px 50px; } }
  @media (max-width: 460px) {
    .news {
      margin: 0px 20px; } }

.news-item {
  background-color: #f4f4f4;
  margin-bottom: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px; }
  .news-item .news-image {
    display: block;
    width: 50%;
    padding: 25px;
    margin-top: -50px; }
    .news-item .news-image img {
      width: 100%;
      border-radius: 2px; }
    @media (max-width: 6660px) {
      .news-item .news-image {
        width: 100%; } }
  .news-item .news-text {
    width: 50%;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .news-item .news-text h3 {
      font-size: 1.7rem;
      margin: 10px 0px; }
    @media (max-width: 660px) {
      .news-item .news-text {
        width: 100%; } }
  @media (max-width: 660px) {
    .news-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.item-info,
.item-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5px; }

.item-info :first-child {
  padding-right: 10px;
  border-right: 1px solid grey; }

.item-info :last-child {
  padding-left: 10px; }

.item-num :first-child {
  padding-right: 10px; }

.item-num :last-child {
  padding-left: 10px; }

.news-description {
  margin-top: 25px;
  line-height: 1.9rem;
  letter-spacing: 0.02rem;
  font-size: 1.2rem; }

.learn-button {
  margin-top: 25px;
  width: 175px;
  border: 2px solid #FF4500;
  background-color: #FF4500;
  color: #fff;
  font-weight: 800;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 13px 25px;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px; }
  .learn-button:hover {
    border: 2px solid #FF4500;
    background-color: #fff;
    color: #FF4500;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .learn-button:focus {
    border: 2px solid #FF4500;
    background-color: #fff;
    color: #FF4500;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .learn-button:active {
    position: relative;
    bottom: -2px;
    right: -2px; }

.client {
  background-color: #f4f4f4;
  padding: 75px 0px 150px 0px; }
  @media (max-width: 800px) {
    .client {
      padding: 50px 0px 0px 0px; } }

.client-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px; }
  @media (max-width: 960px) {
    .client-container {
      margin: 100px 100px 0px 100px; } }
  @media (max-width: 800px) {
    .client-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.client-item {
  width: 33.33%;
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media (max-width: 800px) {
    .client-item {
      padding-bottom: 100px;
      width: 50%;
      margin: 0 auto; } }
  @media (max-width: 700px) {
    .client-item {
      width: 75%; } }
  @media (max-width: 580px) {
    .client-item {
      width: 100%; } }

.client-icon {
  position: relative;
  z-index: 60;
  width: 10%; }
  .client-icon img {
    width: 75%; }

.client-txt {
  position: relative;
  z-index: 70;
  width: 95%;
  line-height: 1.7rem;
  letter-spacing: 0.02rem;
  padding-left: 10px;
  font-weight: 300; }
  .client-txt h3 {
    margin: 0;
    font-size: 1.6rem; }
  .client-txt p {
    margin-top: 20px;
    width: 85%; }
    @media (max-width: 800px) {
      .client-txt p {
        width: 100%; } }

.circle {
  content: '';
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: -35px;
  left: -25px; }

.pricing {
  padding: 75px 0px; }
  @media (max-width: 1050px) {
    .pricing {
      padding: 75px 50px; } }

.pricing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 100px 0px; }
  @media (max-width: 860px) {
    .pricing-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 560px) {
    .pricing-container {
      padding-bottom: 0; } }

.pricing-block {
  width: 33.33%;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  cursor: pointer; }
  .pricing-block:last-of-type {
    margin-right: 0; }
  .pricing-block:hover, .pricing-block:focus {
    background: #FF4500;
    color: white;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .pricing-block:hover .price, .pricing-block:focus .price {
      background: #FF4500;
      -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
      -webkit-transition: -webkit-transform 2s ease-out;
      transition: -webkit-transform 2s ease-out;
      transition: transform 2s ease-out;
      transition: transform 2s ease-out, -webkit-transform 2s ease-out; }
    .pricing-block:hover .price-outline, .pricing-block:focus .price-outline {
      color: black; }
  @media (max-width: 860px) {
    .pricing-block {
      margin-top: 100px;
      -webkit-transform: translate(50%);
              transform: translate(50%);
      width: 50%; }
      .pricing-block:first-of-type {
        margin-top: 0; } }
  @media (max-width: 560px) {
    .pricing-block {
      -webkit-transform: translate(0%);
              transform: translate(0%);
      width: 100%; } }

.price {
  background: #f4f4f4;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  color: black;
  font-size: 3.4rem;
  position: relative;
  margin: 0 auto;
  bottom: 50px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

sup {
  font-size: 20px; }

.price-outline {
  list-style-type: none;
  line-height: 4rem;
  padding: 20px 0px;
  background-color: white;
  border-radius: 2px;
  margin: 20px 10px; }

.pricing-title h4 {
  text-transform: uppercase;
  margin: -20px 0px 0px 0px; }

.pricing-title p {
  font-size: 1.2rem;
  padding-top: 10px; }

.price-button p {
  text-transform: uppercase;
  font-weight: 800;
  margin: 24px; }

footer {
  background-color: #232323; }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px 0px; }
  @media (max-width: 950px) {
    .footer-container {
      padding: 20px 50px; } }
  @media (max-width: 460px) {
    .footer-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 20px 20px; } }

.footer-block {
  width: 25%;
  color: #fff; }
  @media (max-width: 760px) {
    .footer-block {
      width: 33.33%; } }
  @media (max-width: 660px) {
    .footer-block {
      width: 50%; } }
  @media (max-width: 460px) {
    .footer-block {
      width: 100%; } }
  .footer-block h4 {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.1rem; }
  .footer-block ul {
    list-style-type: none;
    padding: 0; }
  .footer-block a {
    text-decoration: none;
    color: #fff; }

.footer-about {
  line-height: 1.6rem; }
  .footer-about span {
    color: #FF4500;
    font-weight: 800; }
  @media (max-width: 660px) {
    .footer-about {
      display: none; } }

.programs li::before {
  content: "\f00c";
  font-family: FontAwesome;
  color: #FF4500;
  padding-right: 5px; }

.footer-courses {
  padding-left: 50px; }
  @media (max-width: 760px) {
    .footer-courses {
      display: none; } }

.footer-course-list li {
  line-height: 2rem; }
  .footer-course-list li:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 1.2rem;
    color: #FF4500;
    margin-right: -10px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .footer-course-list li:hover:before {
    visibility: visible;
    opacity: 1;
    margin-right: 10px; }
  .footer-course-list li:hover a {
    color: #FF4500; }

@media (max-width: 760px) {
  .footer-contact {
    padding-left: 50px; } }

@media (max-width: 660px) {
  .footer-contact {
    padding-left: 0px; } }

.footer-address,
.footer-phone,
.footer-email {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 1.8rem; }
  .footer-address i,
  .footer-phone i,
  .footer-email i {
    padding-right: 10px;
    color: #FF4500; }

.fa-map-marker-alt {
  padding-top: 4px; }

.footer-news p {
  line-height: 1.6rem; }

.footer-news .subscribe-form {
  padding: 10px 0px; }

.emailSubscribe {
  width: 83%;
  border-radius: 2px;
  border: none;
  padding: 10px; }
  @media (max-width: 460px) {
    .emailSubscribe {
      width: 84%; } }

.subscribeButton {
  background-color: #FF4500;
  border: none;
  color: #fff;
  width: 15%;
  height: 33px;
  border-radius: 2px; }

.footer-social {
  margin-top: 10px;
  margin-left: -3px; }
  .footer-social a {
    color: #FF4500;
    font-size: 2rem; }

.copyright-container {
  background-color: #000;
  color: #fff;
  font-weight: 300; }

.copyright-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05rem;
  padding: 10px 0px; }
  @media (max-width: 950px) {
    .copyright-bar {
      padding: 10px 50px; } }
  @media (max-width: 460px) {
    .copyright-bar {
      padding: 10px 20px; } }
  .copyright-bar ul {
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .copyright-bar a {
    padding: 0px 20px 0px 0px;
    text-decoration: none;
    color: #fff; }
    .copyright-bar a:hover, .copyright-bar a:focus {
      color: #FF4500; }

@media (max-width: 480px) {
  .footer-nav {
    display: none; } }

.copyright-txt span {
  color: #FF4500; }
