.wrapper {
  max-width: 900px;
  margin: 0 auto; }

html {
  font-size: 62.5%; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

p {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.contact-bar {
  background-color: black; }

.contact-container {
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contact-container,
.contact-text,
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.nav-bar {
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  padding: 15px; }

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), url("./../assets/hero-image.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("./../assets/hero-image.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
  text-align: center; }
  .header-container p {
    width: 50%; }

h1 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase; }

.courses-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none; }
  .courses-nav ul li {
    padding: 20px; }

.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.course {
  margin: 5px;
  width: calc(25% - 10px);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .course:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .course img {
    width: 100%; }

.course-stats {
  border-top: 1px solid grey; }

.gallery {
  background-color: lightgrey; }

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0; }

.gallery-image {
  width: calc(33.33% - 20px);
  margin: 10px; }
  .gallery-image img {
    width: 100%; }

.overlay {
  display: none; }

.section-title {
  text-align: center;
  text-transform: uppercase; }
  .section-title h2 {
    font-size: 3.6rem;
    font-weight: 700; }
  .section-title h4 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0; }

.magazine-container {
  position: relative; }

.magazine-icon::before,
.magazine-icon::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #86bc42;
  width: 5px;
  width: 25px;
  z-index: 999;
  top: 15px;
  left: 400px; }

.magazine-icon::after {
  left: 475px; }

.news-item {
  background-color: #f4f6fa;
  margin-bottom: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px; }
  .news-item:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .news-item .news-image {
    display: block;
    width: 50%;
    padding: 25px;
    margin-top: -50px; }
    .news-item .news-image img {
      width: 100%; }
  .news-item .news-text {
    width: 50%;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.item-info,
.item-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5px; }

.item-info :first-child {
  padding-right: 10px;
  border-right: 1px solid grey; }

.item-info :last-child {
  padding-left: 10px; }

.item-num :first-child {
  padding-right: 10px; }

.item-num :last-child {
  padding-left: 10px; }

.news-description {
  margin-top: 25px;
  line-height: 1.7rem;
  letter-spacing: 0.02rem;
  font-size: 1.2rem; }

.learn-button {
  margin-top: 50px; }

.client {
  background-color: #f4f6fa;
  padding: 50px 0px 150px 0px; }

.client-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px; }

.client-item {
  width: 33.33%;
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.client-icon {
  position: relative;
  z-index: 60;
  width: 10%; }
  .client-icon img {
    width: 75%; }

.client-txt {
  position: relative;
  z-index: 70;
  width: 95%;
  line-height: 1.7rem;
  letter-spacing: 0.02rem;
  padding-left: 10px;
  font-weight: 300; }
  .client-txt h3 {
    margin: 0;
    font-size: 1.6rem; }
  .client-txt p {
    margin-top: 20px;
    width: 85%; }

.circle {
  content: '';
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: -35px;
  left: -25px; }

.pricing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px; }

.pricing-block {
  width: 33.33%;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  background-color: #f4f6fa;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px; }
  .pricing-block:last-of-type {
    margin-right: 0; }
  .pricing-block:hover, .pricing-block:focus {
    background: #FF4500;
    color: white;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .pricing-block:hover .price, .pricing-block:focus .price {
      background: #FF4500;
      -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
      -webkit-transition: -webkit-transform 2s ease-out;
      transition: -webkit-transform 2s ease-out;
      transition: transform 2s ease-out;
      transition: transform 2s ease-out, -webkit-transform 2s ease-out; }
    .pricing-block:hover .price-outline, .pricing-block:focus .price-outline {
      color: black; }

.price {
  background: #f4f6fa;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  color: black;
  font-size: 3.4rem;
  position: relative;
  margin: 0 auto;
  bottom: 50px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

sup {
  font-size: 20px; }

.price-outline {
  list-style-type: none;
  line-height: 4rem;
  padding: 20px 0px;
  background-color: white;
  border-radius: 2px;
  margin: 20px 10px; }

.pricing-title h4 {
  text-transform: uppercase;
  margin: -20px 0px 0px 0px; }

.pricing-title p {
  font-size: 1.2rem;
  padding-top: 10px; }

.price-button p {
  text-transform: uppercase;
  font-weight: 700;
  margin: 24px; }

footer {
  background-color: #222; }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px 0px; }

.footer-block {
  width: 25%;
  color: #fff; }
  .footer-block h4 {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.1rem; }
  .footer-block ul {
    list-style-type: none;
    padding: 0; }
  .footer-block a {
    text-decoration: none;
    color: #fff; }

.footer-about {
  line-height: 1.6rem; }
  .footer-about span {
    color: #FF4500;
    font-weight: 700; }

.programs li::before {
  content: "\f00c";
  font-family: FontAwesome;
  color: #FF4500;
  padding-right: 5px; }

.footer-courses {
  padding-left: 50px; }

.footer-course-list li {
  line-height: 2rem; }
  .footer-course-list li:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 1.2rem;
    color: #FF4500;
    margin-right: -10px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .footer-course-list li:hover:before {
    visibility: visible;
    opacity: 1;
    margin-right: 10px; }
  .footer-course-list li:hover a {
    color: #FF4500; }

.footer-address,
.footer-phone,
.footer-email {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 1.8rem; }
  .footer-address i,
  .footer-phone i,
  .footer-email i {
    padding-right: 10px;
    color: #FF4500; }

.fa-map-marker-alt {
  padding-top: 4px; }

.copyright-container {
  background-color: #000;
  color: #fff;
  font-weight: 300; }

.copyright-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05rem;
  padding: 10px 0px; }
  .copyright-bar ul {
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .copyright-bar a {
    padding: 0px 20px 0px 0px;
    text-decoration: none;
    color: #fff; }
    .copyright-bar a:hover, .copyright-bar a:focus {
      color: #FF4500; }

.copyright-txt span {
  color: #FF4500; }
